body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#mm{
  color: white;
  height: 73px;
  width: 303px;
  position: relative;
  z-index: 4;
  margin-top: -890px;
  margin-left: auto;
  margin-right: auto;
}

#montantmise{
  color: white;
  height: 73px;
  width: 303px;
  position:relative;
  z-index: 4;
  margin-top: -72px;
  margin-left: 590px;
}

IMG.table {
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto }

IMG.carte {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto }

